@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    border: 0;
    background-color: #4e5166;
    color: #fff;
}

.banner {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background-color: #e55474;
    color: #000;
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fcdfa4;
    color: #000;
    justify-content: space-between;
    z-index: 1;
    padding: .75rem;
}

.nav__link {
    display: flex;
    align-items: center;
    font-size: 4vh;
    padding: 0.7rem;
    margin: 0 0.25rem;
    text-decoration: none;
}

.nav__link:hover {
    background-color: #994b72;
    border-radius: 6px;
    color: #000;
}

